html,
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    padding: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}
li {
    list-style-type: none;
}
nav li {
    display: inline;

}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 100%;
    height: auto;
    background-color: white;
}

#banner img {
    width: 60%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}
.active-page {
    color: #650115;
    font-weight: bold;
    font-size: 2em;
}
#header {
    background-color: #c9e89a;
    height: 30px;
    width: 100%;
}
#header h3 {
    color: #650115;
    padding-top: 3px;
}
#footer {
    margin-top: 10px;
    background-color: #650115;
    width: 100%;
    height: 150px;
    
}
#footer p {
    color: #f5f5dc;
    font-size: 2em;

}